.header-container {
  display: flex;
  align-items: center;
  padding: 50px 50px;
  background-color: transparent;
}

.header-left {
  width: 130px; 
}

.logo {
  height: 40px;
  margin-right: 20px;
}

.heading {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: rgba(78, 119, 150, 1);
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 30px 20px;
  }

  .header-left {
    width: auto; 
    margin-bottom: 20px;
  }

  .logo {
    height: 2rem; 
  }

  .heading {
    font-size: 23px; 
  }
  
  .header-right img {
    height: 4rem; 
    margin-top: 1rem; 
  }
}
